/*  */
html{
	box-sizing:border-box;

}
*,*::before,*::after{
	box-sizing:inherit;
}
body{
	font-family:Montserrat, Arial, Helvetica, sans-serif;
}
img{
	max-width:100%;
}
a{
	text-decoration:none;
}
/* header */
.content{
	max-width:1440px
	margin:0 auto;
	
}
.header__logo-box{
	position: absolute;
	width: 343px;
	height: 108px;

}
.header__top{
	margin: 17px 147px 17px 343px;
	max-width:1097px;

	
	justify-content:space-between;
	align-items:center;
	font-size: 14px
	
	background: #FFFFFF;

}
.menu__link{
	padding: 0 10px;
	font-size: 14px	
	color: #000000;
}
.menu__phone{
	float:right;
	padding: 0 10px;
	color: #B8937D;
	font-size: 14px
}
.menu__address{
	float:right;
	padding: 0 10px;
	font-size: 14px
}

.menu__val{
	float:right;
	padding: 0 10px;
	font-size: 14px
	color: #000000;
	

}
.header__bottom{
	float:left;
	display: flex;
	margin: 17px 144px 17px 343px;
	width:1097px;
	height: 57px;
    
    align-items:center;
	
	background: #B8937D;
	font-size: 14px
	
}
.nav__link{
	padding: 0 10px;
	font-size: 14px;
	color: #FFFFFF;

}
.nav__link:not(:first-child){
	text-align: right;
}
/*Slider-fon*/  
.slider-top{

	background-image:url(../img/slider-fon.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:right;
    
	min-height: 641px;
	
}
.slider__item{
	position: absolute;
	width: 1056px;
	height: 461px

}
.slider__subtitle-top{
	margin: 152px 0 30px 178px;
	width: 364px;
	height: 23px;

}
.slider__title-top{
    margin: 30px 0 43px 177px;

    font-size: 54px;
    line-height: 70px;
	font-weight: 900;

	
	align-items: center;

	color: #B8937D;
    font-family: Roboto;
    text-transform: capitalize;
}    

.slider__btn{
	margin:43px 0 0 178px;
	font-weight: bold;
	color: #333333;
}

/* О магазине */
.page{
	background-color:#fff;
	padding:30px 0;
	line-height:20px;
}
.page__detail{
	
	

	
	width: 119px;
	height: 32px;
	
	justify-content:right;
	text-align:right;
	vertical-align:top;
	font-size:18px;

}


.wrap{

	width:100%;
	max-width:1440px;
	padding:0 15px;
	margin:0 auto;

	font-family: Montserrat;
}
.title_1, .page__detail{
	display:inline;
}


.title_1{
	
	text-align:left;
	font-size: 36px;
    margin-bottom:20px;
	margin-top:0;	
	color: #000000;
	margin: 93px 0 36px 147px;
}

.text{
	column-count:2;
	column-gap:30px;
	column-width:550px;

	display:flex;
	justify-content:space-around;
	font-family: Montserrat;

	line-height:20px;
	width:100%;
	max-width:1144px;
	padding:0 15px;
	margin:0 149px 60px 147px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	/* or 157% */

	
	color: #000000;
}	
.text p{
	margin:0;
	line-height:20px;

}
/*Skills*/
.block-skills{
	margin:0 149px 120px 147px;
	max-width:1144px;
	display:flex;
	justify-content:space-around;
	font-family: Montserrat;
	width:100%;
	padding:0 15px;
}
.box-skills{
	width:24%;

	text-align:center;
    flex-direction:row;

}
.box-skills__title{
	width:100%;
	max-width:1144px;

	color: #000000;
}
.box-skills__img{
	height:46.88px;
	width:46.88px;
	align-items: center;
	

}

.box-skills__text{
	width:100%;
	max-width:1144px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	/* or 157% */
	display: flex;
	align-items: center;
	text-align: center
	line-height:20px;
	color: #000000;
}


/*subsctibe*/
.slider{

	background-image:url(../img/bgr-subscribe.png);
	background-repeat:no-repeat;
	
	background-position:right;
	min-height:500px;
	background-color:#E4E4E4;
}

.slider__title{
    margin: 93px 0 0 148px;
    width: 562px;
	height: 69px;

	font-style: normal;
  
}    
.slider__subtitle_1{
	margin:0 0 41px 147px;
	width: 458px;
	height: 21px;

}
.mail-form{
	
	width: 500px;
	height: 60px;

	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	margin:41px 20px 40px 148px;
	text-align: left;
}

.button{
	
	margin:30px 30px 30px 0;
	background: #B8937D;
	border: 1px solid #B8937D;
	box-sizing: border-box;

	width: 237px;
	height: 60px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	/* or 156% */

	text-align: center;

	color: #FFFFFF;
}

/*Social icons*/


.slider__subtitle_1,.slider__subtitle_2, .icon{
	display:inline;
	
}
.slider__subtitle_2{
	margin:40px 30px 118px 147px;
}
.icon {
	margin:10px 30px 0 0;
    list-style:none;
	width: 20px;
	height: 20px;
	
    
}
/*Container*/
.container{
	width:100%;
	max-width:1200 px;
	margin:0 auto;
}


